.header-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background: linear-gradient(to bottom, #f78da7, #9de7c5);

  .logo {
    margin-right: 20px;
  }

  .search-bar {
    flex-grow: 1; /* Đảm bảo thanh tìm kiếm chiếm toàn bộ không gian còn lại */
  }
}
